
.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
    color: #2dc3e8;
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

.bs-glyphicons-home {
    padding: 0;
    list-style-type: none;
    color: #ffff;
    font-size: 24px;
    margin: 0;
}
.bs-glyphicons-home a {
    color: #ffff;
    text-align: center;
    padding: 10px 10px;
}
.bs-glyphicons-home a:hover {
    color: #fff;
    background-color: #4CAF50;
}
.bs-glyphicons li {
    float: right;
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word; /* Help out IE10+ with class names */
}

.bs-glyphicons li:hover {
    color: #fff;
    background-color: #4CAF50;
}

@media (min-width: 768px) {
    .bs-glyphicons {
        margin-right: 0;
        margin-left: 0;
    }

.bs-glyphicons li {
    width: 100px;
    font-size: 12px;
}
}