<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="bundleTransformer">
			<section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="xConggidata" connectionString="Data Source=ggiserver.database.windows.net;Initial Catalog=ggidata;User ID=ggiAdmin;Password=^kLzncV2CsI*!R0X;" providerName="System.Data.SqlClient" />
		<add name="xConTestReplication" connectionString="Data Source=ggiserver.database.windows.net;Initial Catalog=TestReplication;User ID=ggiAdmin;Password=^kLzncV2CsI*!R0X;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>